.filter-modal {
    position: absolute;
    height: 90%;
    width: 85vmin;
    background-color: #DDDDDD;
    border-radius: 10px;
    transition: all .2s linear;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    flex-direction: column;
    overflow-y: auto;
}

.filter-modal-dark {
    background-color: #525252;
    color: white;

}

.control-row {
    width : 90%;
    margin: 0.8em 0;
}

.control-row > p {
    margin-bottom: 0.5em;
}

.image-container {
    max-width: calc(85vmin - 50%);
    margin-bottom: 1em;
    
}

.preview-image {
    width: 100%;
}

.close-button {
    color: black;
    border: 2px solid black;
    font-size: 2.5vmin;
    transition: all 0.2s linear;
    padding: 1vmin;
    margin: 0 1em;
}

.close-button-dark {
    border: 2px solid white;
    color: white;
}

.save-button {
    margin: 0 1em;
    padding: 1vmin;
    transition: all 0.2s linear;
    font-size: 2.5vmin;
    border: 2px solid green;
    color: green;
}

.save-button-dark {
    color: white;
    background-color: green;
    border: 2px solid white;
}

.filter-modal-footer {

    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;

}